.article {
  width: 1200px;
  position: relative;
  margin: 25px auto 0 auto;
  height: 200px;
  padding: 20px;
  font-family: "Inter UI";
  background-color: white;
  border-radius: 5px;
  line-height: 28px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &.bodyVisible {
    height: 100%;
  }
}

.content {
  .title {
    display: inline-block;
    color: #1890FF;
    font-size: 20px;
    margin-right: 10px;
    line-height: 24px;
  }

  .like {
    padding-left: 25px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-image: url(../../assets/img/article/heart.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 10% 10%;
  }
  
  .tag {
    margin-right: 10px;
    padding: 4px;
    color: gray;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    border: 1px gray solid;
    border-radius: 3px;

    &:first-child {
      color: black;
      border-color: black;
    }
  }
  
  .description {
    font-size: 12px;
  }
}

.author {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 15px;
  padding-right: 65px;
  text-align: end;

  .name {
    font-size: 18px;
    display: inline-block;
  }

  .createdDate {
    color: grey;
    font-size: 12px;
    display: inline-block;
  }

  .img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.bodyContainer {
  margin-top: 20px;
  overflow: hidden;

  .body {
    
  }
}
