@import "../../app/app.scss";

.articleForm {
  margin: 40px auto 40px auto;
  padding: 40px;
  width: 1000px;
  background-color: $white-color;
  font-family: "Inter UI";
  box-shadow: $shadow-color;

  .title {
    margin-top: 20px;
    text-align: center;
    font-size: $big-size;
    font-weight: 500;
  }
}

.formContainer {
  position: relative;
  margin-top: 20px;

  .inputTitle {
    margin-top: 15px;
    font-size: $mini-size;
  }

  .input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
  }

  .inputTextarea {
    box-sizing: border-box;
    word-wrap: break-word;
    height: 250px;
    width: 100%;
  }

  .invalidText {
    font-size: $mini-size;
    color: $error-color;   
  }

  .redBorder {
    border-color: $error-color;
  }

  .invalidTags {
    position: absolute;
    width: 400px;
    top: 455px;
    right: 10px;
  }
}

.tagsContainer {
  position: relative;

  .buttonTags {
    margin: 15px 0 0 10px;
    padding: 7px;
    color: $error-color;
    border: 1px solid $error-color;
    border-radius: 3px;

    &:hover {
      color: $white-color;
      background-color: $error-color;
    }

    &.buttonAdd {
      position: absolute;
      left: 404px;
      bottom: 0px;
      color: $info-color;
      border-color: $info-color;

      &:hover {
        color: $white-color;
        background-color: $info-color;
      }
    }
  }

  .inputTags {
    width: 300px;
  }
}

.button {
  margin-top: 20px;
  width: 300px;
  height: 35px;
  text-align: center;
  color: $white-color;
  background-color: $info-color;
  border-radius: 5px;

  &:hover {
    border: 1px solid $info-color;
    background-color: $white-color;
    color: $info-color;
  }
}
