$white-color: #FFF;
$black-color: #000;

$background-color: #EBEEF3;
$success-color: #52C41A;
$info-color: #1890FF;
$error-color: #F5222D;

$text-color: #00000080;
$textSecond-color: #000000BF;

$shadow-color: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$big-size: 20px;
$main-size: 18px;
$mini-size: 14px;
$micro-size: 12px;
