@import "../../app/app.scss";

.container {
  position: relative;
}

.articleBlock {
  width: 1200px;
  position: relative;
  margin: 25px auto 0 auto;
  height: auto;
  min-height: 200px;
  max-height: 1200px;
  padding: 20px;
  font-family: "Inter UI";
  background-color: $white-color;
  border-radius: 5px;
  line-height: 28px;
  box-shadow: $shadow-color;
  overflow: hidden;

  &.bodyVisible {
    min-height: 250px;
    height: 100%;
  }
}

.titleContainer {
  position: relative;
  width: 100%;
  display: inline-block;
  color: $info-color;
  font-size: $big-size;
  margin-right: 10px;
  line-height: 24px;

  .like {
    margin-left: 5px;
    padding-left: 25px;
    display: inline-block;
    font-size: $mini-size;
    line-height: 20px;
    background-image: url(../../assets/img/likeOff.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 10% 10%;
  }

  .onLike {
    background-image: url(../../assets/img/likeOn.svg);
  }
  
  .tag {
    margin: 10px 10px 0 0;
    padding: 4px;
    color: gray;
    font-size: $micro-size;
    line-height: 12px;
    display: inline-block;
    border: 1px gray solid;
    border-radius: 3px;

    &:first-child {
      color: $black-color;
      border-color: $black-color;
    }
  }

  .description {
    color: $black-color;
    margin-top: 20px;
    line-height: 22px;
    font-size: $micro-size;
  }
}

.divButtons {
  right: 0;
  top: 70px;
  position: absolute;

  .button {
    padding: 4px 8px;
    border: 1px solid $black-color;
    border-radius: 5px;
    font-size: $main-size;

    &:first-child {
      margin-right: 10px;
      color: $error-color;
      border-color: $error-color;

      &:hover {
        color: $white-color;
        border-color: $white-color;
        background-color: $error-color;
      }
    }

    &:last-child {
      color: $success-color;
      border-color: $success-color;

      &:hover {
        color: $white-color;
        border-color: $white-color;
        background-color: $success-color;
      }
    }
  }
}

.author {
  margin: 0 0 10px 20px;
  float: inline-end;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 65px;
  text-align: end;
  color: $black-color;
  background-color: $white-color;

  .name {
    font-size: $main-size;
    display: inline-block;
  }

  .createdDate {
    color: grey;
    font-size: $micro-size;
    display: inline-block;
  }

  .img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}

.deleteContainer {
  position: absolute;
  right: 20px;
  top: 135px;
  background-color: $white-color;
  border: 1px solid #D9D9D9;
  font-family: "Inter UI";
  border-radius: 5px;
  padding: 15px;
  box-shadow: $shadow-color;

  .text {
    padding-left: 20px;
    background-image: url(../../assets/img/warning.svg);
    background-repeat: no-repeat;
  }

  .button {
    margin: 10px 10px 0 0;
    padding: 0px 8px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: $mini-size;
  }

  .button:last-child {
    color: $white-color;
    background-color: $info-color;
  }
}

.marginBottom {
  margin-bottom: 80px;
}

.bodyContainer {
  margin-top: 20px;
  overflow: hidden;
}
